* {
	box-sizing: border-box;
}

html,
body {
	background: linear-gradient(
		176deg,
		rgba(18, 24, 27, 1) 50%,
		rgba(32, 39, 55, 1) 100%
	);
	min-height: 100vh;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	padding: 0 2rem;
	color: #eee;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

main {
	min-height: 100vh;
	padding: 1rem 0;

	border: 1px solid black;
}

input,
textarea {
	display: block;
	max-width: 300px;
	margin: 0.5rem 0;
}

button {
	background-color: #000000;
	border: none;
	color: white;
	padding: 0.5rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

nav {
	display: flex;
	justify-content: center;
	text-align: center;
	border: 1px solid black;
	width: 100%;
}

nav a {
	font-weight: bold;
	margin: 0 0.5rem;
	text-decoration: underline;
}

.form-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	flex-direction: column;
}

.container {
	display: flex;
}
